$green:#3BAA9E;
.bigheader{
    position: relative;
    background-color: $green;
    width: 100vw;
    height: 70vh;
    color:#FFFFFF;
    font-family: 'Lato', sans-serif;
}

a{
    text-decoration: none;
}

.logo-en{
    font-size: 5rem;
    line-height: 4.8rem;
    font-weight: 900;
}
.fullname-ja{
    margin-top:0.5rem;
    font-size: 2rem;
    line-height: 2.2rem;
}
.fullname-en{
    font-size: 1.5rem;
    font-weight: 400;
} 